body {
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.791),rgba(0, 0, 0, 0.9)), url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 50px #03e0fd76;

  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }